.DS_Store
*.pyc
rhino_unwrapper/*.pyc
rhino_unwrapper/*.swp
XformRotation.py
csvToRhino.py
nodeTest.xml
spinTest.py
xmlToRhino.py
unwrapMesh.pyc
pipes/
showEdgeIdxs_cmd.py
rhino_unwrapper/UnionFind1.py
pickMeshEdge.py
hawkinsLayout.py
tests/
ExamplesRhinoScripting/
Experiments/
mesh_demo.py



*.swp
